.content-container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;

    a {
        color: $binghamton-light-green;
        text-decoration: none;

        &:hover{
            color: $binghamton-dark-green;
            text-decoration: underline;
        }
    }

    }

@media screen and (min-width:900px){
    .content-container{
        width: calc(100% - 300px);
    }
}
@media screen and (min-width:1200px){
    .content-container{
        flex-direction: row;
        
    }
}


.main-content {
display: flex;
flex-direction: column;
height: calc(100% - 50px);
margin: 0 1rem;
max-width: 100%;
}

@media screen and (min-width: 1200px){
    .main-content {
        width:75%;
        height:100%;
        overflow: scroll;
    }
}

.content-detail{
display:flex;
flex-direction:column;
margin: 0.1rem;
width:100%;
height: 50px;
border-top: 1px solid #c4c4c4;
}

@media screen and (min-width: 1200px){
    .content-detail{
        display:flex;
        flex-direction:column;
        margin: 1rem;
        height:100%;
        width:25%;
        height: 100%;
        border-top: none;  
        border-left: 1px solid #c4c4c4;
    }
}


.content-tags-container {
display:flex;
justify-content: center;
align-items: center;
width:100%;
height:100%;
}

@media screen and (min-width: 1200px){
    .content-tags-container {
        flex-direction: column;
        height: auto;
    }
}



.content-tags-title{
text-align:center;
font-size: 1rem;
}

.content-tags-list{
display:flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 1rem;
}

.content-tag{
display:flex;
background:rgb(0, 90, 67);
margin:0.25rem;
padding:0.3rem;
border-radius: 3px;
width:max-content;
}

.content-tag-link {
color: #fff;
text-decoration: none;
font-size: 0.8rem;
}